
/* 🔹 Responsive Header */
@media (max-width: 900px) {
  .nav-toggle {
    display: inline-flex;
  }
    /* Center logo perfectly */
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Keep burger and icons aligned sides */
  /* .nav-toggle {
    order: 1;
  } */

  .header-icons {
    order: 3;
  }
  .main-nav .menu-items {
    flex-direction: column;
    gap: 20px;
    background: var(--header-bg);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    display: none;
  }

  .main-nav.active .menu-items {
    display: flex;
  }

  .header-inner {
    flex-wrap: wrap;
  }
}
